DB_URL = mongodb+srv://tathagataghosh1609_db_user:Tatha123@cluster0.p5axqs9.mongodb.net/

PORT = 3000
NODE_ENV = 'development'

INNGEST_EVENT_KEY = _4t8jR94nerYbLmBC0I0fFrct6fG20Dk2WiVFY_1r4PZLSSYZyvAekmciY6Dk-7NOxEOMLqX-BqNOvujGbA25Q
INNGEST_SIGNIN_KEY = signkey-prod-3ee336c67c3b4f546e3ddcfa1e8faf95c63475f7bc3ef9d5ced258310d24d6fc

STREAM_API_KEY = 3ezgnvaemg62
STREAM_API_SECRET = 52epfqmpaawpqw5tkwmtzd2dg2h552cfkq9duhxjw7qr2uxg3t3wgv47x7abxmrj

CLERK_PUBLISHABLE_KEY=pk_test_ZW5qb3llZC1waGVhc2FudC05Mi5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_s4x2Vs0ZFPnRcfJbwCV9U4fvcdFttxx2DgmA0lXo3e

CLIENT_URL = http://localhost:5173